<h2>About</h2>

<div class="container cf">
    <div>
        <ul>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quia modi libero cupiditate commodi iusto non aut, asperiores praesentium et sint, qui, ratione ullam excepturi aspernatur est dolores! Sed doloremque et, iure quis incidunt maxime molestias, quo nemo vel repellendus, tempore voluptatum laboriosam omnis velit odio voluptas aspernatur. Repellat id libero deleniti soluta reprehenderit, et quos sunt! Modi necessitatibus sunt laborum eius error recusandae ipsum voluptate maxime, minus reprehenderit eveniet, optio ea odit asperiores expedita molestiae, obcaecati distinctio laudantium cumque dicta cupiditate doloremque. Sed porro cum assumenda dignissimos sapiente expedita ad, nulla inventore repellat, alias quas facere, eligendi exercitationem corporis.
            </li>
            <li>
                Lorem ipsum dolor sit amet.
            </li>
        </ul>
    </div>
</div>
