<h2>Contact</h2>

<div class="container cf">
    <div>
        <ul>
            <li>
                Lorem ipsum dolor sit amet.
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos sequi a facere, nemo minima inventore assumenda harum. Doloremque magni nihil dolor, ducimus. Accusantium deleniti soluta, repellendus sit natus minima aliquam praesentium alias architecto? Exercitationem inventore consectetur ea earum optio rem est labore repellendus explicabo eligendi officia harum laboriosam dolorum nostrum necessitatibus cupiditate totam architecto omnis placeat, commodi dignissimos ipsa, debitis excepturi sit atque. Reiciendis inventore voluptate, fugit maiores modi molestias autem beatae quaerat! Exercitationem quis dolor atque a laborum voluptatum voluptatem tenetur soluta facere excepturi.
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius vero mollitia tenetur fuga ullam architecto sit porro, consequatur magnam soluta.
            </li>
        </ul>
    </div>
</div>
