<div class="container cf">
    <div>
        <ul>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolor, illum explicabo vel, molestiae suscipit. Blanditiis at, maiores asperiores molestiae, amet fuga inventore id sit quibusdam! Assumenda consequuntur delectus deleniti at similique vero, neque, tempora earum esse eligendi hic tenetur itaque non quos voluptas quod omnis pariatur illo reiciendis? Architecto.
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, voluptatem.
            </li>
            <li>
                Lorem ipsum dolor sit amet.
            </li>
        </ul>
    </div>
</div>
