/******************************************************************

Mobile and up

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $font;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $gray;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

html {
	height: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
		text-decoration: underline;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.75rem;
}

h4, .h4 {
	font-size: 0.875rem;
	font-weight: 700;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $white;
	max-height: 50px;
}

#inner-header {
	width: 1000px;
	padding: 0 50px;

	a {
		font-size: $small;
		color: $black;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		margin-right: 50px;
		line-height: 50px;

		&:last-child {
			margin-right: 0;
		}
	}
}

#logo {
	margin: 0.75em 0;

	a {
		color: $white;
	}
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;
		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 1.5em;
}

		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;
			border: 1px solid $border-color;

			header {
				border-bottom: 1px solid $light-gray;
				padding: 1.5em;
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

		} /* end .entry-content */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;
}

.comment-nav {

	ul {

		li {}

	}
}

.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;
	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
}

/* comment content */
.comment_content {

	p {
		margin: 0.7335em 0 1.5em;
		font-size: 1em;
		line-height: 1.5em;
	}

} /* end .commentlist .comment_content */

/* comment reply link */
.comment-reply-link {
	@extend .blue-btn;
	font-size: 0.9em;
	float: right;
} /* end .commentlist .comment-reply-link */

/* edit comment link */
.comment-edit-link {
	font-style: italic;
	margin: 0 7px;
	text-decoration: none;
	font-size: 0.9em;
}


/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {

}

.widget {

	ul {

		li {

			&:first-child {}

			&:last-child {}

			a {}

			/* deep nesting */
			ul {}
		}
	}
}

.no-widgets {
	background-color: $white;
	padding: 1.5em;
	text-align: center;
	border: 1px solid $border-color;
	border-radius: 2px;
	margin-bottom: 1.5em;
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
}

.footer-links {

	ul {

		li {}
	}
} /* end .footer-links */

.copyright {}